.div1{
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 400px;
    border-radius: 100px;
    border-color: black;
    
    text-align: center;         
    margin-top: 200px;
    transition: box-shadow 1s;
    
}
.div1:hover
{
    box-shadow: 0.5px 0.5px 35px gray;    
}
body{
    background-color: whitesmoke;
    display: grid;
    justify-items: center;

}
.l1{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.head1{
    font-family: cursive;
}
.s1{
    
    text-shadow: 0.5px 0.5px 10px red;
    color: red;
    transition: color 1s;
}

.s2{
    
    color: rgba(0, 0, 0, 0.449);
    text-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.449);
    transition: color 1s;
}

.in1{
    display: block;
    margin-left: 120px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 8px;
    transition: box-shadow 1s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 17px;
    margin-top: 5px;
}
.in1:hover{
    box-shadow: 1px 1px 4px rgb(176, 176, 168);
}

.l2{

    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.but1{

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: red;
    border-radius: 6px;
    border: none;
    font-family: cursive;
    color: rgb(255, 255, 244);
    transition: box-shadow 1s;
    cursor: pointer;
    transition:background-color 0.7s,box-shadow 1s;
   
}
.but1:hover{
    box-shadow: 0.5px 1px 10px red;
}
.but1:active{
    background-color: rgb(50, 80, 5);
    box-shadow: 0.5px 1px 10px rgb(50, 80, 5);
    
}
.checkbox{
    display: block;
    margin-left: 190px;
    margin-bottom: 35px;
}

.remember{
    display:block;
    margin-top: 0px;
    color: rgba(3, 3, 217, 0.757);
}
.label-for{
    display: block;
    margin-left: 140px;
    margin-top: 10px;
    font-family: Verdana;
    font-size: 10px;
    transition: color 1s,text-decoration 1s;
}
.label-for:hover{
    color: blue;
    text-decoration:underline;
}
.material-symbols-outlined{
    color: red;
    text-shadow: 0.5px 0.5px 10px red;
    
}